.window {
 width: 200px;
 height: 200px;
}

body {
    background-color: paleturquoise;

    border-style: ridge;
    border-width: 9px;
    border-color: darkturquoise;
    margin: 0 0 0 0;
    padding: 3px 3px 3px 3px;

}
